

.pricing-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  margin-top: 20px; 
}

.pricing-plan {
  flex: 1;
  max-width: 300px;
  margin: 0 5px; 
  background-color: #f2f2f2;
  text-align: center;
  border-radius: 20px; 
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
}

.sp {
  color: #fff;
  font-size: 10px;
}

.plan-title,
.plan-price,
.plan-button {
  background-color: #EF476F;
  transition: background-color 0.3s ease;
  border-top-right-radius: 15px; 
}

.plan-title {
  font-weight: bold;
}

.plan-price {
  margin-top: 0%;
  font-size: 24px; 
  font-weight: bold;
}

.plan-features {
  background: white;
  list-style: none;
  padding: 0;
  margin: 0;
}

.plan-features li {
  margin-bottom: 10px;
}

.plan-button {
  padding: 5px 10px; 
  background-color: #fff;
  color: #EF476F;
  border-color: #EF476F;
  border-top-right-radius: 0;
  font-size: 14px; 
}

.pricing-plan:hover .plan-title,
.pricing-plan:hover .plan-price,
.pricing-plan:hover .plan-button {
  background-color: rgb(62, 217, 168); 
}
